#main-app,
.product-page {
    width: 50%;
    margin: 0 auto;
}

.product-list li {
    display: inline-block;
    margin-bottom: 100px;
}

.product-item {
    width: 33%;
}

.product-item img {
    max-width: 60%;
    height: auto;
}
